.container {
    padding-top: 20px;
    height: 30px;
    width: 1000px;
    border-top: 1px solid black;
    margin-top: 20px;
    display: flex;
}

.settingsBlock{
    margin-right: 20px;
    text-align: center;
    width: 25px;
    height: 25px;
}
.remove{
    background-image: url(../../../../../img/trash-can.png);
    background-size: cover;
    cursor: pointer;
    opacity: 0.5;
}

.remove:hover{
    opacity: 1;
}

.edit{
    background-image: url(../../../../../img/change.png);
    background-size: cover;
    cursor: pointer;
    opacity: 0.5;
}

.edit:hover{
    opacity: 1;
}
.move{
    background-image: url(../../../../../img/moveup.png);
    background-size: cover;

    cursor: pointer;
    opacity: 0.5;
}

.move:hover{
    opacity: 1;
}